In [260]:
#Import the libraries
import math
# import pandas_datareader as web
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense, LSTM
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [261]:
import pyodbc
server = '' 
database = '' 
username = '' 
password = ''
cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

In [272]:
query = """
SELECT 
PENGADAAN_ME5A_R1.BANFN,Pengadaan_ME5A_R1.BNFPO,
Pengadaan_ME2N.EBELN,Pengadaan_ME2N.EBELP, 
Pengadaan_ME2N.BEDAT, Pengadaan_ME2N.EKORG, Pengadaan_ME2N.EKGRP,
Pengadaan_ME2N.EMATN, Pengadaan_ME2N.TXZ01,
Pengadaan_ME2N.NETPR AS UNITPRICE, Pengadaan_ME2N.CURRENCY_RATE, Pengadaan_ME2N.WAERS,
Pengadaan_ME2N.MENGE AS QTY
FROM Pengadaan_ME2N
LEFT JOIN Pengadaan_ME5A_R1
ON Pengadaan_ME2N.BANFN = Pengadaan_ME5A_R1.BANFN AND Pengadaan_ME2N.BNFPO = Pengadaan_ME5A_R1.BNFPO
WHERE (Pengadaan_ME2N.BANFN IS NOT NULL) AND (Pengadaan_ME5A_R1.BADAT IS NOT NULL) AND
(Pengadaan_ME2N.EMATN = '000000000001000017'OR Pengadaan_ME2N.EMATN = '000000000003000499' 
OR Pengadaan_ME2N.EMATN = '000000000003000266' OR Pengadaan_ME2N.EMATN = '000000000003000508'
OR Pengadaan_ME2N.EMATN = '000000000003000539'
OR Pengadaan_ME2N.EMATN = '000000000003000018'OR Pengadaan_ME2N.EMATN = '000000000003000072' 
OR Pengadaan_ME2N.EMATN = '000000000003000048' OR Pengadaan_ME2N.EMATN = '000000000003000019')

ORDER BY PENGADAAN_ME5A_R1.BANFN,Pengadaan_ME5A_R1.BNFPO,Pengadaan_ME2N.EBELN
"""

df_all = pd.read_sql_query(query, cnxn)

In [273]:
df_curr = pd.read_csv('Data Historis USD_IDR.csv')

In [274]:
df_all['BEDAT'] = df_all['BEDAT'].str[6:8] + "/" + df_all['BEDAT'].str[4:6] + "/" + df_all['BEDAT'].str[:4]
df_all

,BANFN,BNFPO,EBELN,EBELP,BEDAT,EKORG,EKGRP,EMATN,TXZ01,UNITPRICE,CURRENCY_RATE,WAERS,QTY
0,2100001642,00010,5000001438,00010,20/09/2021,A000,A01,000000000003000019,KALIUM CHLORIDE:KCL;FLAKE,591.00,14.23301,USD,5000.000
1,2200000473,00010,5100000823,00010,13/04/2016,B000,B01,000000000003000018,KALIUM CHLORIDE:KCL RED;K2O 60%MIN;,278.00,13.12300,USD,25000.000
2,2200000475,00010,5100000837,00010,14/04/2016,B000,B01,000000000003000018,KALIUM CHLORIDE:KCL RED;K2O 60%MIN;,278.00,13.23800,USD,25000.000
3,2200001384,00010,5100001812,00010,27/04/2016,B000,B01,000000000003000018,KALIUM CHLORIDE:KCL RED;K2O 60%MIN;,278.00,13.21500,USD,25000.000
4,2200001937,00010,5100002059,00010,04/05/2016,B000,B01,000000000001000017,DAP:(NH4)2HPO4;GRANULAR;18%N 46%P2O5,344.00,13.24600,USD,13500.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,2600033074,00010,5500027840,00010,03/12/2021,F000,F01,000000000003000018,KALIUM CHLORIDE:KCL;K2O 60%MIN,570.00,14.35301,USD,4800.010
433,2600033090,00010,5500027838,00010,03/12/2021,F000,F01,000000000003000018,KALIUM CHLORIDE:KCL;K2O 60%MIN,570.00,14.35301,USD,1831.937
434,2600033091,00010,5500027837,00010,03/12/2021,F000,F01,000000000003000018,KALIUM CHLORIDE:KCL;K2O 60%MIN,570.00,14.35301,USD,4700.500
435,2600033520,00010,5500028311,00010,25/01/2022,F000,F01,000000000003000018,KALIUM CHLORIDE:KCL;K2O 60%MIN,570.00,14.34701,USD,4850.380
436,2600033520,00020,5500028311,00020,25/01/2022,F000,F01,000000000003000018,KALIUM CHLORIDE:KCL;K2O 60%MIN,570.00,14.34701,USD,2900.280

In [275]:
df_dap = df_all[(df_all['EMATN'] == '000000000001000017') | (df_all['EMATN'] == '000000000003000499') | (df_all['EMATN'] == '000000000003000266') | (df_all['EMATN'] == '000000000003000539')]

df_dap = df_dap.loc[:,['BEDAT','UNITPRICE','WAERS']].sort_values(by='BEDAT')
df_dap.loc[df_dap["WAERS"] == "IDR", "UNITPRICE"] = df_dap[df_dap['WAERS'] == 'IDR']['UNITPRICE'].str[:-3]
df_dap['UNITPRICE'] = df_dap['UNITPRICE'].astype(float)
df_dap = pd.DataFrame(df_dap.loc[:,['BEDAT','UNITPRICE','WAERS']].groupby(['BEDAT','WAERS'])['UNITPRICE'].agg('median')).reset_index().sort_values('BEDAT')
df_dap

          BEDAT WAERS  UNITPRICE
0    01/02/2018   IDR   52272.00
1    01/02/2018   USD     424.43
2    01/07/2020   USD     316.40
3    02/03/2020   USD     314.03
4    02/03/2022   USD     970.00
..          ...   ...        ...
123  30/11/2017   USD     411.50
124  31/03/2021   USD     572.76
125  31/08/2017   USD     383.80
126  31/12/2017   IDR   69621.00
127  31/12/2019   USD     299.69

[128 rows x 3 columns]

In [276]:
df_curr['Terakhir'] = df_curr['Terakhir'].str[:-2].str.replace('.','').astype(int)
df_curr = df_curr.loc[:,['Tanggal','Terakhir']]
df_curr

<ipython-input-276-a46f2bc0ae6a>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_curr['Terakhir'] = df_curr['Terakhir'].str[:-2].str.replace('.','').astype(int)

         Tanggal  Terakhir
0     09/05/2022     14557
1     28/04/2022     14497
2     27/04/2022     14420
3     26/04/2022     14410
4     25/04/2022     14455
...          ...       ...
1611  07/01/2016     13927
1612  06/01/2016     13947
1613  05/01/2016     13862
1614  04/01/2016     13915
1615  01/01/2016     13787

[1616 rows x 2 columns]

In [277]:
for i in range(len(df_dap['BEDAT'])):
    for j in range(len(df_curr['Tanggal'])):
        if (df_dap.loc[i,'BEDAT'] == df_curr.loc[j,'Tanggal']) and df_dap.loc[i,'WAERS'] == 'IDR':
            idr_to_usd = df_dap.loc[i,'UNITPRICE']/df_curr.loc[j,'Terakhir']
            df_dap.loc[i, 'UNITPRICE'] = idr_to_usd
            df_dap.loc[i, 'WAERS'] = 'USD'
            
df_dap = df_dap.drop(df_dap[df_dap['WAERS']=='IDR'].index).reset_index(drop=True)
df_dap = df_dap.drop_duplicates(subset='BEDAT',keep='last').reset_index(drop=True)

df_dap['BEDAT'] = pd.to_datetime(df_dap['BEDAT'])
df_dap = df_dap.groupby(pd.Grouper(key='BEDAT', axis=0, 
                        freq='M')).mean().dropna().reset_index()

df_dap['BEDAT'] = df_dap['BEDAT'].astype(str).str[:4] + 'M' + df_dap['BEDAT'].astype(str).str[5:7]
df_dap

      BEDAT     UNITPRICE
0   2016M02    344.000000
1   2016M03    339.600000
2   2016M04    344.000000
3   2016M06    160.408778
4   2016M08    315.750000
5   2016M10    315.750000
6   2016M11    327.833333
7   2016M12    324.375000
8   2017M01    335.000000
9   2017M02    343.333333
10  2017M03    238.588697
11  2017M04    283.201416
12  2017M05  18163.750000
13  2017M06    367.980000
14  2017M07    235.559604
15  2017M08    385.933333
16  2017M09    344.500000
17  2017M11    377.833333
18  2017M12    238.868500
19  2018M01    424.430000
20  2018M02    424.000000
21  2018M03   1476.670433
22  2018M04    432.000000
23  2018M07    424.650000
24  2018M09    431.250000
25  2018M11    425.000000
26  2018M12    322.253994
27  2019M02    394.755000
28  2019M03    425.000000
29  2019M04    391.670000
30  2019M05    387.510000
31  2019M06    360.550000
32  2019M08    338.832500
33  2019M10    322.830000
34  2019M11    232.741173
35  2019M12    362.060000
36  2020M01    316.400000
37  2020M02    338.583333
38  2020M03    329.367500
39  2020M05    317.290000
40  2020M07    246.129150
41  2020M08    323.150000
42  2020M09    364.475000
43  2020M10    366.500000
44  2020M12    372.000000
45  2021M02    494.385000
46  2021M03    572.760000
47  2021M04    519.780000
48  2021M05      0.515000
49  2021M08    525.816667
50  2021M09    610.590000
51  2021M10    670.000000
52  2021M12    620.740000
53  2022M02    970.000000

# CEK KORELASI DENGAN DATA FERTECON

In [329]:
df_fertecon = pd.read_excel('Data Fertecon 2019 dst.xlsx',sheet_name=1)

In [330]:
df_fertecon.rename(columns={'date':'BEDAT'},inplace=True)

In [331]:
# df_fertecon.drop(columns='Unnamed: 15',inplace=True)
df_fertecon

,BEDAT,DAP/MAP fob US Gulf_min,DAP/MAP fob US Gulf_max,DAP fob N. Africa_min,DAP fob N. Africa_max,DAP fob China_min,DAP fob China_max,DAP cfr India_min,DAP cfr India_max,MAP fob Baltic_min,MAP fob Baltic_max,MAP cfr Brazil_min,MAP cfr Brazil_max,PhosAcid 100% P2O5 cfr India_min,PhosAcid 100% P2O5 cfr India_max
0,2019M01,405,417,415,450,391,405,405,417,400,415,425,435,750,768
1,2019M02,383,410,390,435,388,393,400,405,385,410,395,425,750,750
2,2019M03,373,391,390,430,382,391,397,402,365,400,395,410,750,750
3,2019M04,371,383,390,420,374,384,389,400,365,380,390,400,728,728
4,2019M05,352,379,355,415,355,371,370,388,352,373,370,390,728,728
5,2019M06,337,353,331,395,337,355,346,370,335,360,360,365,655,728
6,2019M07,320,342,331,372,334,340,346,352,317,337,345,357,655,655
7,2019M08,306,327,312,365,320,339,338,351,298,331,330,355,655,655
8,2019M09,292,326,308,340,311,323,329,339,286,305,320,330,655,655
9,2019M10,278,308,300,340,310,316,329,332,277,305,305,320,625,625
10,2019M11,267,276,275,310,299,311,315,325,262,298,290,298,625,625
11,2019M12,255,270,275,310,278,293,295,305,257,260,280,285,625,625
12,2020M01,251,291,275,305,273,295,290,299,250,291,276,310,590,590
13,2020M02,295,311,280,315,273,297,290,310,289,306,313,330,590,590
14,2020M03,294,315,280,315,295,310,310,320,280,307,315,330,590,590
15,2020M04,290,310,287,315,305,310,314,320,280,302,305,320,590,590
16,2020M05,287,301,285,310,305,310,314,315,285,300,300,310,590,607
17,2020M06,294,312,285,315,305,310,314,327,280,307,310,325,607,607
18,2020M07,309,318,285,325,308,320,317,326,280,320,325,335,625,625
19,2020M08,319,340,300,345,317,337,330,341,291,335,340,355,625,625
20,2020M09,332,348,323,358,340,360,348,365,314,355,355,368,625,625
21,2020M10,342,361,330,365,355,364,365,375,329,365,365,368,689,689
22,2020M11,346,361,340,375,358,364,365,375,326,377,367,375,689,689
23,2020M12,357,390,340,410,360,375,365,365,324,415,380,410,689,689
24,2021M01,387,470,380,476,390,460,375,380,382,500,415,490,795,795
25,2021M02,497,580,490,578,480,550,425,446,463,565,540,600,795,795
26,2021M03,580,601,545,602,530,570,445,515,509,591,615,635,795,795
27,2021M04,568,597,526,596,530,549,543,567,524,594,595,630,998,998
28,2021M05,572,627,523,630,530,545,560,566,541,635,600,655,998,998
29,2021M06,605,723,538,716,540,570,565,590,588,713,660,755,998,998
30,2021M07,706,734,675,757,565,580,590,632,650,722,723,770,1165,1165
31,2021M08,678,721,630,717,610,630,630,665,583,710,720,760,1165,1165
32,2021M09,671,694,630,700,630,635,664,678,587,695,710,725,1165,1165
33,2021M10,700,764,637,790,635,750,674,780,629,790,740,810,1165,1165
34,2021M11,761,789,754,955,750,782,796,810,725,890,810,830,1330,1330
35,2021M12,774,821,770,955,880,910,799,900,756,900,815,860,1330,1330
36,2022M01,815,835,814,925,860,910,910,927,810,910,850,870,1400,1550

In [332]:
df_fertecon.merge(df_dap, on='BEDAT', how='left').dropna().corr()['UNITPRICE'].sort_values()

PhosAcid 100% P2O5 cfr India_max    0.600157
PhosAcid 100% P2O5 cfr India_min    0.600164
DAP cfr India_min                   0.604567
MAP fob Baltic_min                  0.626174
MAP fob Baltic_max                  0.626379
DAP/MAP fob US Gulf_max             0.631920
MAP cfr Brazil_max                  0.633681
DAP fob China_min                   0.641374
DAP fob N. Africa_max               0.642611
DAP/MAP fob US Gulf_min             0.643720
DAP cfr India_max                   0.645982
MAP cfr Brazil_min                  0.649110
DAP fob N. Africa_min               0.665876
DAP fob China_max                   0.670511
UNITPRICE                           1.000000
Name: UNITPRICE, dtype: float64